soundcloud:
    username: Ben Zittlau
    password: <password>
    client_id: <client_id>
    client_secret: <client_secret>
    timezone: America/Edmonton

pi_ano:
    timezone: America/Edmonton
    device_index: 1
    input_frames_per_block: 512
    verbose: !!bool "Yes"
    verbose_frame_resolution: 10
